* {
  color: green;
}
a:link {
  color: gray;
}
a:visited {
  color: blue;
}
a:hover {
  color: fuchsia;
}
a:active {
  color: red;
}
p {
  font-family: arial, helvetica;
  font-size: 10px;
  color: black;
}
.contenido {
  font-size: 14px;
  font-weight: bold;
}

/* 

SE TRABAJA ESPECIALMENTE HERENCIA Y PRIORIDAD DE REGLAS

Lo que cambia especialmente entre ambos casos, es donde se aplica la clase contenido, la herencia y prioridad de reglas en el CSS.

- En el caso 1 la clase contenido se aplica a un elemnto <p> y tambien la regla de p{}, por lo tanto se utiliza el proceso en cascada
y especificidad para decidir cual aplicar, en este caso la prioridad la tiene la regla aplicada internamente, luego la clase .contenido y luegooo la p{}

- En el segundo caso la clase contenido se applica al elemento <body>, se hereda la negrita y tamaño para todo el texto por la clase nombrada,
excepto por una para el p{} ya que tiene una regla que se le aplica directamente sobre el tamaño, esta tiene prioridad.
*/
